[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"

[packages]
apache-airflow = {version = ">=1.10.9<2",extra = ["kubernetes","redshift","presto"]}
email_validator = "*"
pyhive = {version = "*",extra = ["presto"]}
snowflake-sqlalchemy = "*"
xmltodict = "*"
pynacl = "*"
fastparquet = "*"
heroku3 = "*"
psycopg2 = "*"
rubymarshal = "*"
openpyxl = "*"
pyarrow = "*"

[requires]
python_version = "3.7"
