[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "==20.8b1"
mypy = "*"
pylint = "*"

[packages]
apache-airflow = {extras=["crypto","postgres","ssh","kubernetes","s3","snowflake"], version = "==1.10.13"}
pyarrow = "*"
salesforce-bulk = "*"
zeep = "*"
snowflake-sqlalchemy = "*"
rubymarshal = "*"
PyYAML = "*"
PyNaCl = "*"
pyhive = "*"
requests = "*"
requests-oauthlib = "*"
authlib = "*"
python-slugify = "*"
pandas = "*"
openpyxl = "*"
pmdarima = "*"
retrying = "*"
fs-s3fs = "*"
transitions = "*"
dbt-snowflake = "==0.18.1"
pika = "*"
scipy = "*"
heroku3 = "*"
pytz = "*"
google-api-python-client = "*"
fs.sshfs = "*"
