[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"

[packages]
apache-airflow = {version = ">=1.10.9<2",extra = ["kubernetes","redshift","presto"]}
snowflake-sqlalchemy = "*"
xmltodict = "*"
fastparquet = "*"
heroku3 = "*"
psycopg2 = "*"
rubymarshal = "*"
zeep = "*"
openpyxl = "*"
pandas = "*"
cffi = "<1.14"
email-validator = "*"
python-slugify = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
PyNaCl = "*"
Flask-AppBuilder = "==2.3.2"
PyHive = {extra = ["presto"],version = "*"}

[requires]
python_version = "3.7"
