# dev
pytest
pytest-cov
pytest-mock
black
mypy
pylint

# runtime
apache-airflow[crypto,postgres,ssh,kubernetes,s3,snowflake]<2
flask-bcrypt  # required by airflow
fab-oidc
pyarrow
salesforce-bulk
zeep
snowflake-connector-python
snowflake-sqlalchemy
rubymarshal
PyYAML
PyNaCl
pyhive
requests==2.24
requests-oauthlib
authlib
python-slugify
pandas
openpyxl
pmdarima
retrying
fs-s3fs
transitions
dbt-snowflake==0.18.1
pika
scipy
heroku3
pytz
google-api-python-client
fs.sshfs
