# dev
pytest
pytest-cov
pytest-mock
black
mypy
pylint
pipdeptree

# runtime
apache-airflow[crypto,postgres,ssh,kubernetes,snowflake,amazon]==1.10.15
apache-airflow-backport-providers-amazon
apache-airflow-backport-providers-sftp
apache-airflow-backport-providers-ssh
apache-airflow-backport-providers-http
apache-airflow-backport-providers-postgres
apache-airflow-backport-providers-snowflake
flask-bcrypt  # required by airflow
fab-oidc
salesforce-bulk
zeep
snowflake-sqlalchemy
sqlalchemy
rubymarshal
PyYAML
PyNaCl
pyhive
pytest
pytest-helpers-namespace
requests-oauthlib
authlib
python-slugify
pandas
openpyxl
pmdarima
retrying
fs-s3fs
transitions
dbt-snowflake==0.20.0
pika
scipy
heroku3
google-api-python-client
fs.sshfs
python-gnupg
safety

fastparquet==0.5.0
transliterate

types-requests
types-python-slugify
types-PyYAML
types-Jinja2

certifi==2020.12.5  # pinned because of snowflake connector
pyarrow>=3.0.0,<3.1.0  # pinned because of snowflake connector
requests<2.24  # pinned because of snowflake connector
boto3<1.16  # pinned because of snowflake connector
urllib3<1.26  # pinned because of snowflake connector
pyjwt<2.0 # pinned because of snowflake connector
pytz<2021.0 # pinned because of snowflake connector

numba==0.53.1  # pinned because of fastparquet issues in zetatango_import dag
snowflake-connector-python<=2.5.1 # pinned to fix failures encountered with 2.6.0 version

cryptography==3.4.8 # temp pinned to ignore version 35.0.0