# dev
pytest
pytest-cov
pytest-mock
black
mypy
pylint

# runtime
apache-airflow[crypto,postgres,ssh,kubernetes,s3,snowflake]==1.10.14
flask-bcrypt  # required by airflow
fab-oidc
salesforce-bulk
zeep
snowflake-sqlalchemy
rubymarshal
PyYAML
PyNaCl
pyhive
requests-oauthlib
authlib
python-slugify
pandas
openpyxl
pmdarima
retrying
fs-s3fs
transitions
dbt-snowflake==0.18.1
pika
scipy
heroku3
pytz
google-api-python-client
fs.sshfs
python-gnupg

fastparquet
transliterate

pyarrow[pandas]<0.18.0  # pinned because of snowflake connector
requests<2.24  # pinned because of snowflake connector
boto3<1.16  # pinned because of snowflake connector
urllib3<1.26  # pinned because of snowflake connector
pyjwt<2.0 # pinned because of snowflake connector
